*{
    /* margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:sans-serif ; */
  }



/* main container */
.main-container{
    /* position: relative;
    height: 100%; 
    padding: 15px; */

  display: flex;
  /* width: 100%; */
  border-radius: 20px;
  overflow: hidden;
}

/* background image */
#bgImg{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 150%;
    background-size: cover; 
    background-position: center;
    z-index: -1;
}

/* card container */
.container{
    /* margin-top: 20px;
    border: 1px solid black;
    border-radius: 10px;
    width: auto;
    height: 600px;
    background-color: white; */

    margin-top: 20px;
    display: flex;
    width: 100%;
    border-radius: 20px;
    overflow: hidden;

}

/*-----left section Start------------ */
.left-sec{
    /* margin-top: 20px; */

    width: 30%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(245, 245, 245, 0.706);

    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;

}
.search-field{
    margin-top: 20px;
    display: flex;
    justify-content: left;
    border: none;
}
.searchs{
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 5px;
}
.search-btn{
    background-color: skyblue;
    width: 20px;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.curr-icons img{
    margin-top: 20px;
    width: 150px;
    height: 150px;
}

.curr-temp{
    display: flex;
    margin-top: 50px;
}
.date-time{
    margin-top: -10px;
}

.curr-dayInfo{
    margin-top: 0px;
}



/*-----left section End------------ */




/*-----rigt section start------------ */
.right-sec{
    /* background-color: white; */
    background-color: rgba(245, 245, 245, 0.877);

    width: 100%;
    padding: 20px 40px;

    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

/* right section header */
.rightHeader{
    display: flex;
    justify-content: space-between;
}

.selectBtn button{
    border: none;
    background: transparent;
    font-size: 16px;
    font-weight: 600;
    color: #495057;
    cursor: pointer;
    text-transform: capitalize;
}
.selectBtn button.active{
    /* color: var(--primary-color); */
    color: skyblue;
}

.degreeBtn button{
    /* border: none;
    border-radius: 50%;
    font-size: 15px;
    cursor: pointer;
    background-color:white ; */

    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: #1a1a1a;
    background-color: #fff;
}

.degreeBtn button.active{
    color: #fff;
    background-color: #1a1a1a;
}

/* day week details */
.detailsCard{
    /* display: flex; */

    display: flex;
    flex-wrap: wrap;
    /* display: grid;
    grid-template-columns: repeat(7, 1fr); */
    gap: 20px;
    margin-top: 50px;
}
.detailsCard .detail{
    
  /* width: 90px;
  height: 100px;
  padding: 8px;
  margin: 10px;
  margin-top:20px;
  text-align: center;
  border-radius: 15px;
  background-color: white; */


    width: 120px;
    height: 130px;
    border-radius: 20px;
    color: #1a1a1a;
    background-color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.detail h2{
    font-size: 15px;
    font-weight: 600;
}
.detail .card-icon{
    width: 50%;
    margin: 0 auto;
}
.detail .day-temp{
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.detail img{
    height: 75px;
    margin-top: 0px;
    padding: 5px;
    width: 75px;
}
/* .temp{
    font-size: small;
} */

/* HighlightDetail */
.HighlightDetail{
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns of equal width */
}
.Highlight{
    width: 240px;
    height: 170px;
    padding: 30px;
    margin: 10px;
    margin-top: 20px;
    /* text-align: center; */
    border-radius: 15px;
    background-color: white;
}

/*-----right section End------------ */

